*CSS*/
 body {
   background-color:rgba(85, 208, 233, 0.8);
   font-family: Arial, Helvetica, sans-serif;
   margin-right: auto;
   line-height: 1.5;
   font-size: 20px;
   color: rgb(15, 14, 14);
 }
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 form li + li {
   margin-top: 1em;
 }

 h1,
 h2,
 h3 {
   line-height: 1.5;
   margin: 0;
   padding: 0;
 }

 .name {
   text-overflow: ellipsis;
   max-width: 200px;
 }

 .container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   max-width: 640px;
   min-height: 100%;
 }

 .wrapper {
   flex-direction: column;
   display: flex;
   align-items: center;
 }

 .content {
   background: rgb(9, 230, 230);
   border: 2px dotted rgb(231, 7, 7);
   flex-grow: 2;
   flex: 0 0 200px;
   padding: 10px;
   overflow-wrap: break-word;
 }

 .header {
   background: rgba(85, 208, 233, 0.8);
   color: rgb(247, 17, 17);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   margin: 0;
   margin-bottom: 5px;
   padding: 8px 16px;
   border-radius: 4px;
 }

 .button {
   background-color: #ffc477;
   border: 2px solid #ca8611;
   border-radius: 11px;
   display: inline-block;
   cursor: pointer;
   font-family: Verdana;
   font-size: 14px;
 }

 .button:hover {
   border: 1px solid rgb(49, 46, 216);
   background-color: royalblue;
 }

 textarea {
   display: block;
   box-shadow: 5px 1px rgb(214, 210, 210);
   letter-spacing: 1px;
   padding: 5px;
   border-radius: 5px;
   width: 100%;
 }

 label {
   display: block;
   margin: 5px;
 }
.flex-outer {
  max-width: 800;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
}
.flex-outer li{
  max-width: 800;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
}
.flex-outer li label{
  max-width: 225;
  flex:1 0 225px;
  padding: 8px;
}
.flex-outer li label,p{
  max-width: 225;
  flex:1 0 125px;
  padding: 8px;
}
.flex-outer li button{
  margin-left:0px;
  padding: 6px 12px;
  text-transform:uppercase;
  letter-spacing:1.2px;
  border-radius: 3px;
}
.flex-inner{
  max-width: 800;
  display: flex;
  flex-wrap: wrap;
  flex:1 0 225px;
  align-items: center;
  padding: 0px 16px;
  justify-content: space-between;
}
.flex-inner li{
  max-width: 80;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
}
.flex-outer > li > label + * {
  flex:1 0 225px;
}
